html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    text-align: center;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
}

.overlay-text {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    left: 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .overlay-text {
        top: 10%; /* Use percentage for better responsiveness */
    }
}
